<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <ion-tab title="SEARCH" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/main/search">
        <ion-nav-view name="search"></ion-nav-view>
    </ion-tab>

    <!-- Chats Tab -->
    <ion-tab title="DETAILS" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/main/detail">
        <ion-nav-view name="detail"></ion-nav-view>
    </ion-tab>

    <!-- Account Tab -->
    <ion-tab title="FAVORITES" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/main/favorite">
        <ion-nav-view name="favorite"></ion-nav-view>
    </ion-tab>

</ion-tabs>

